<div class="blogStream1">
<% var n = 0;
blogs.forEach(function(blog) { 
  if(n%2 == 0) { %>
  <div class="blogEntry" data-id="<%= blog.id %>">
    <div class="imgWrapper playSong" data-name="<%=blog.name%>" data-artist="<%=blog.artist%>" data-vid="<%=blog.vid%>">
      <img class="blogImg" src="/images/<%=blog.vid%>.jpg" onerror="replaceImg(event)"/>
      <span class="glyphicon glyphicon-play"></span>
    </div>
    <div class="blogEntryBody">
      <div class="blogEntryName"><%= blog.name %></div>
      <br>
      <div class="blogEntryArtist" data-artist-id="<%= blog.artist_id %>" onclick="blogEntryArtistSearch(event)"><%= blog.artist %></div>
      <br>
      <% if(admin) { %>
        <textarea class="blogEntryText blogEntryTextInput"><%= blog.text %></textarea>
      <% } else { %>
        <div class="blogEntryText"><%= blog.text %></div>
      <% } %>
      <% if(blog.artist && blog.artistLink) { %>
          <div class="artistLink" onclick="window.open('<%=blog.artistLink %>','artistpage');"><%=blog.artist %></div>
      <% } %>
      <% if(blog.director && blog.directorLink) { %>
          <div class="directorLink" onclick="window.open('<%=blog.directorLink %>','directorpage');"><%=blog.director %></div>
      <% } %>
    </div>
  </div>
<% }
n += 1;
}); %>
</div>

<div class="blogStream2">
<% var n = 0;
blogs.forEach(function(blog) { 
  if(n%2 == 1) { %>
  <div class="blogEntry">
    <div class="imgWrapper playSong" data-name="<%=blog.name%>" data-id="<%= blog.song_id %>" data-artist="<%=blog.artist%>" data-vid="<%=blog.vid%>">
      <img class="blogImg" src="/images/<%=blog.vid%>.jpg" onerror="replaceImg(event)"/>
      <span class="glyphicon glyphicon-play"></span>
    </div>
    <div class="blogEntryBody">
      <div class="blogEntryName"><%= blog.name %></div>
      <br>
      <div class="blogEntryArtist" data-artist-id="<%= blog.artist_id %>" onclick="blogEntryArtistSearch(event)"><%= blog.artist %></div>
      <br>
      <% if(admin) { %>
        <textarea class="blogEntryText blogEntryTextInput"><%= blog.text %></textarea>
      <% } else { %>
        <div class="blogEntryText"><%= blog.text %></div>
      <% } %>
      <% if(blog.artist && blog.artistLink) { %>
          <div class="artistLink" onclick="window.open('<%=blog.artistLink %>','artistpage');"><%=blog.artist %></div>
      <% } %>
      <% if(blog.director && blog.directorLink) { %>
          <div class="directorLink" onclick="window.open('<%=blog.directorLink %>','directorpage');"><%=blog.director %></div>
      <% } %>
    </div>
  </div>
<% }
n += 1;
}); %>
</div>
