<div class="blogStream1">
<% var n = 0;
blogs.forEach(function(blog) { 
	if(n%2 == 0) { %>
  <div class="blogEntry">
  	<div class="imgWrapper playSong" data-name="<%=blog.name%>" data-vid="<%=blog.vid%>">
    <img src="/images/<%= blog.image %>">
    <span class="glyphicon glyphicon-play"></span>
    </div>
    <div class="blogEntryBody">
      <div class="blogEntryName"><%= blog.name %></div>
      <div class="blogEntryText"><%= blog.text %></div>
    </div>
  </div>
<% }
n += 1;
}); %>
</div>

<div class="blogStream2">
<% var n = 0;
blogs.forEach(function(blog) { 
	if(n%2 == 1) { %>
  <div class="blogEntry">
  	<div class="imgWrapper playSong" data-name="<%=blog.name%>" data-vid="<%=blog.vid%>">
    <img src="/images/<%= blog.image %>">
    <span class="glyphicon glyphicon-play"></span>
    </div>
    <div class="blogEntryBody">
      <div class="blogEntryName"><%= blog.name %></div>
      <div class="blogEntryText"><%= blog.text %></div>
    </div>
  </div>
<% }
n += 1;
}); %>
</div>
