<div id="userLists">
<% lists.forEach(function(list) { %>
    <div class="block inactive list" data-lid="<%=list.id %>" data-user="<%= list.userid %>"  onclick="showList(this)">
      <% if(list.thumbnail) { %>
        <img src="http://img.youtube.com/vi/<%=list.thumbnail %>/0.jpg" class="list song"/>
      <% } %>
      <div class="description">
        <span class="name"><%=list.name %></span>
        <span class="entries"><%=list.entries %> songs</span>
      </div>
    </div>
    <% }); %>
</div>