<div id="userLists">
<% if(lists.attributes) { %>
	<div id="s<%= lists.attributes.id %>" class="block" data-id="<%=lists.attributes.id %>" data-num="0">
	  	<% if(lists.attributes.thumbnail) { %>
	    	<img src="http://img.youtube.com/vi/<%=lists.attributes.thumbnail %>/0.jpg" class="list song"/>
	    <% } %>
	    <div class="description">
	      <span class="name"><%=lists.attributes.name %></span>
	      <div class="listDelete" onclick="promptListDelete(event)">&#215</div>
	    </div>
	</div>
<% } else {
	var i = 0;
	lists.forEach(function(list) { %>
	  <div id="s<%= list.attributes.id %>" class="block" data-id="<%=list.attributes.id %>" data-num="<%= i %>">
	  	<% if(list.attributes.thumbnail) { %>
	    	<img src="http://img.youtube.com/vi/<%=list.attributes.thumbnail %>/0.jpg" class="list song"/>
	    <% } %>
	    <div class="description">
	      <span class="name"><%=list.attributes.name %></span>
	      <div class="listDelete" onclick="promptListDelete(event)">&#215</div>
	    </div>
	  </div>
	  <% i++; %>
	  <% });
	} %>
<div id="addList" class="block">
	<input type="text" id="createListName" placeholder="Playlist Name">
	<div id="createList" onclick="createList()">+</div>
</div>
</div>
<div id="logout" onclick="logout()">Logout</div>

<% if(session.admin == 1) { %>
<div id="songInput">
<input type="text" id="url" placeholder="URL">
<input type="text" id="inputName" placeholder="Name">
<input type="text" id="inputArtist" placeholder="Artist">
<div id="inputSubmit">SUBMIT</div>
</div>
<div id="blogInput">
<input type="text" id="blogurl" placeholder="URL">
<input type="text" id="inputBlogName" placeholder="Name">
<input type="text" id="inputBlogArtist" placeholder="Artist">
<input type="text" id="inputBlogDirector" placeholder="Director">
<input type="text" id="inputText" placeholder="blog text">
<input type="text" id="inputArtistLink" placeholder="Artist Website URL">
<input type="text" id="inputDirectorLink" placeholder="Director Website URL">
<div id="blogSubmit">SUBMIT</div>
</div>
<% } %>
<div class="spotifyData"></div>