<div id="userLists">
<div id="myListsBanner" data-type="user"><div id="myListsBannerTitle">Add, Edit, and Delete Video Lists</div></div>
<% lists.forEach(function(list) { %>
	  <div class="block inactive list" data-lid="<%=list.id %>" data-user="<%= list.userid %>" data-order="<%=list.order %>" onclick="showList(this)">
	  	<% if(list.thumbnail) { %>
	    	<img src="http://img.youtube.com/vi/<%=list.thumbnail %>/0.jpg" class="list song"/>
	    <% } %>
	    <div class="description">
	      <span class="name"><%=list.name %></span>
	      <div class="listDelete" onclick="promptListDelete(event)">&#215</div>
	    </div>
	  </div>
	  <% }); %>
<div id="addList" class="block">
	<input type="text" id="createListName" placeholder="Playlist Name">
	<div id="createList" onclick="createList()">+</div>
</div>
</div>
<div id="followedLists">
<div id="followedListsBanner"><div class="listNames">Followed Playlists</div></div>
  <% followed.forEach(function(followed) { %>
    <div class="block inactive list" data-lid="<%=followed.id %>" data-user="<%= followed.userid %>" onclick="showList(this)">
      <% if(followed.thumbnail) { %>
        <img src="http://img.youtube.com/vi/<%=followed.thumbnail %>/0.jpg" class="list song"/>
      <% } %>
      <div class="description">
        <span class="name"><%=followed.name %></span>
      </div>
    </div>
  <% }); %>
</div>
<div id="followedArtists">
<div id="followedArtistsBanner"><div class="listNames">Followed Artists</div></div>
  <% followed_artists.forEach(function(artist) { %>
    <div class="block inactive artist" data-artist_id="<%=artist.id %>" data-user="<%= artist.user_id %>" onclick="artistBlockClick(event)">
      <% if(artist.thumbnail) { %>
        <img src="http://img.youtube.com/vi/<%=artist.thumbnail %>/0.jpg" class="artist song"/>
      <% } %>
      <div class="description">
        <span class="name"><%=artist.name %></span>
      </div>
    </div>
  <% }); %>
</div>

<% if(session.admin == 1) { %>
<div id="songInput">
<input type="text" id="url" placeholder="URL">
<% if(spotify) { %>
<div id="spotifyMatch">
  <input type="text" id="inputName" placeholder="Name">
  <br>
  <input type="text" id="inputArtist" placeholder="Artist">
  <br>
  <div id="spotifyMatchSearch" onclick="spotifyMatchSearch()">SEARCH</div>
  <div id="spotifyMatchList">
  </div>
</div>
<% } else { %>
<div id="spotifyAdminLogin" onclick="spotifyLogin()">
Login to Spotify to match songs
</div>
<% } %>
<input type="text" id="inputDirector" placeholder="Director">
<select id="inputGenre1">
  <option value="  "></option>
  <% genres.forEach(function(genre) { %>
    <option value="<%= genre.genre_4 %>"><%= genre.genre_4 %></option>
  <% }); %>
</select>
<select id="inputGenre2">
  <option value="  "></option>
  <% genres.forEach(function(genre) { %>
    <option value="<%= genre.genre_4 %>"><%= genre.genre_4 %></option>
  <% }); %>
</select>
<select id="inputGenre3">
  <option value="  "></option>
  <% genres.forEach(function(genre) { %>
    <option value="<%= genre.genre_4 %>"><%= genre.genre_4 %></option>
  <% }); %>
</select>
<div id="inputSubmit" onclick="insertSong()">SUBMIT</div>
<input type="text" id="inputText" class="blogInputText" placeholder="blog text">
<input type="text" id="inputArtistLink" class="blogInputText" placeholder="Artist Website URL">
<input type="text" id="inputDirectorLink" class="blogInputText" placeholder="Director Website URL">
</div>
<div id="adminGenreUpdate" onclick="moodTags()">Tag Moods</div>
<div id="adminSpotifyID" onclick="spotifyIDUpdate()">Update Spotify ID</div>
<div id="adminSpotifySongData" onclick="spotifyDataUpdate()">Update Spotify Song Attributes</div>
<div id="spotifyArtistMatch" onclick="spotifyArtistMatch()">Match Spotify Artists</div>
<div id="thumbnails" onclick="thumbnails()">Match thumbnails</div>
<% } %>
<div class="spotifyData"></div>