<div id="userLists">
<% lists.forEach(function(list) { %>
	  <div class="block list" data-lid="<%=list.id %>" data-order="<%=list.order %>" onclick="showList(this)">
	  	<% if(list.thumbnail) { %>
	    	<img src="http://img.youtube.com/vi/<%=list.thumbnail %>/0.jpg" class="list song"/>
	    <% } %>
	    <div class="description">
	      <span class="name"><%=list.name %></span>
	      <div class="listDelete" onclick="promptListDelete(event)">&#215</div>
	    </div>
	  </div>
	  <% }); %>
<div id="addList" class="block">
	<input type="text" id="createListName" placeholder="Playlist Name">
	<div id="createList" onclick="createList()">+</div>
</div>
<div id="importSpotify" class="block" onclick="importSpotify()">
  <div id="importText">Import Spotify</div>
  <div id="import" onclick="importSpotify()"><span class="glyphicon glyphicon-arrow-down"></span></div>
</div>
</div>

<% if(session.admin == 1) { %>
<div id="songInput">
<input type="text" id="url" placeholder="URL">
<input type="text" id="inputName" placeholder="Name">
<input type="text" id="inputArtist" placeholder="Artist">
<input type="text" id="inputDirector" placeholder="Director">
<select id="inputGenre1">
  <% genres.forEach(function(genre) { %>
    <option value="<%= genre.genre_4 %>"><%= genre.genre_4 %></option>
  <% }); %>
</select>
<select id="inputGenre2">
  <% genres.forEach(function(genre) { %>
    <option value="<%= genre.genre_4 %>"><%= genre.genre_4 %></option>
  <% }); %>
</select>
<select id="inputGenre3">
  <% genres.forEach(function(genre) { %>
    <option value="<%= genre.genre_4 %>"><%= genre.genre_4 %></option>
  <% }); %>
</select>

<div id="inputSubmit" onclick="insertSong()">SUBMIT</div>
</div>
<div id="blogInput">
<input type="text" id="blogurl" placeholder="URL">
<input type="text" id="inputBlogName" placeholder="Name">
<input type="text" id="inputBlogArtist" placeholder="Artist">
<input type="text" id="inputBlogDirector" placeholder="Director">
<input type="text" id="inputText" placeholder="blog text">
<input type="text" id="inputArtistLink" placeholder="Artist Website URL">
<input type="text" id="inputDirectorLink" placeholder="Director Website URL">
<div id="blogSubmit" onclick="insertBlog()">SUBMIT</div>
</div>
<div id="adminGenreUpdate" onclick="genreUpdate()">Update Genres</div>
<% } %>
<div class="spotifyData"></div>