<div id="listBanner" data-lid="<%= playlist_ID %>"><input type="text" id="listNameInput" value="<%= name %>"/></div>
  <% order.forEach(function(entry) { 
    list.forEach(function(song) { %>
      <% if(entry == song.song_ID) { %>
        <div id="s<%= song.song_ID %>" class="block inactive playSong edit" data-name="<%= song.name %>" data-artist="<%=song.artist %>" data-vid="<%=song.vid %>">
          <img src="http://img.youtube.com/vi/<%=song.vid %>/0.jpg" class="list song"/>
          <div class="description">
            <span class="name"><%=song.name %></span>
            <span class="artist"><%=song.artist %></span>
            <span class="glyphicon glyphicon-play"></span>
            <% if(session.admin == 1) { %>
            <div class="remove" data-click="0" onclick="removeBlock(event)">-</div>
            <% if(parseInt(song.staff) == 1) { %>
              <div class="staffRemove" onclick="staffRemove(event)">-</div>
            <% } else { %>
              <div class="staffAdd" onclick="staffAdd(event)">+</div>
            <% } %>
            <% } %>
          </div>
        </div>
      <% }
    });
  }); %>
  <div id="pageSelection"><div id="pageNumber">1</div></div>
