<div id="listBanner" data-lid="<%= playlist_id %>" data-user-id="<%= user_id %>" data-back="<%= back %>">
  <span class="glyphicon glyphicon-menu-left" aria-hidden="true" onclick="playlistBack(event)"></span>
<% if(user_id == session.userid) { %>
  <input type="text" id="listNameInput" value="<%= name %>"/>
<% } else { %>
  <div id="myListsBannerTitle"><%= name %></div>
<% } %>
</div>
    <% list.forEach(function(song) { %>
        <div id="s<%= song.song_id %>" data-id="<%= song.song_id %>" class="block inactive playSong edit" data-name="<%= song.name %>" data-artist="<%=song.artist %>" data-vid="<%=song.vid %>">
          <img src="http://img.youtube.com/vi/<%=song.vid %>/0.jpg" class="list song"/>
          <div class="description">
            <span class="name"><%=song.name %></span>
            <span class="artist"><%=song.artist %></span>
            <span class="glyphicon glyphicon-play"></span>
            <% if(session.admin == 1) { %>
              <div class="remove" data-click="0" onclick="removeBlock(event)">-</div>
              <% if(parseInt(song.staff) == 1) { %>
                <div class="staffRemove" onclick="staffRemove(event)">-</div>
              <% } else { %>
                <div class="staffAdd-List" onclick="staffAdd(event)">+</div>
              <% } %>
            <% } %>
            <% if(user_id == session.userid) { %>
            <div class="playlistSongDelete" onmousedown="playlistSongDelete(event)">×</div>
            <% } %>
          </div>
        </div>
    <% }); %>
  <div id="pageSelection"><div id="pageNumber">1</div></div>
