  <% songs.forEach(function(song) { %>
  <div id="s<%= song.song_id %>" class="block inactive playSong" data-name="<%= song.name %>" data-artist="<%=song.artist %>" data-vid="<%=song.vid %>">
    <img src="http://img.youtube.com/vi/<%=song.vid %>/0.jpg" class="list song"/>
    <div class="description">
      <span class="name"><%=song.name %></span>
      <span class="artist"><%=song.artist %></span>
      <span class="glyphicon glyphicon-play"></span>
      <% if(session.admin == 1) { %>
      <div class="remove" data-click="0" onclick="removeBlock(event)">-</div>
      <% if(parseInt(song.staff) == 1) { %>
        <div class="staffRemove" onclick="staffRemove(event)">-</div>
      <% } else { %>
        <div class="staffAdd" onclick="staffAdd(event)">+</div>
      <% } %>
      <% } %>
    </div>
  </div>
  <% }); %>
  <div id="pageSelection"><div id="pageNumber">1</div></div>
